.login-wrapper {
	width: 420px;
	height: auto;
	border: 1px solid #ccc;
	position: relative;
	top: 20px;
	margin: 0px auto;
	padding: 30px;
	border-radius: 10px;
	.form-group {
		margin: 20px;
	}
}